<h1 class="todo_list_title">Editing To-Do List</h1>
<div class="forms">
    <%= render 'form', todo_list: @todo_list %>
</div>
<div class="links">
    <%= link_to @todo_list do%>
        <i class="fa fa-arrow-left fa-2x"></i>
    <% end %>
</div>